.contentMargin {
    margin-left: 10px;
}

.crossedOut {
    color: rgb(96, 96, 96);
}

.buttonShow {
    background-color: rgb(36, 36, 36);
}

.buttonUnshow {
    background-color: rgb(22, 22, 22);
}

.headerLabels {
    margin-left: 2px;
    margin-right: 3px;
    background-color: rgb(79, 79, 79);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    font-size: 9px;
    -unity-text-align: upper-center;
    color: rgb(238, 238, 238);
    align-items: center;
    justify-content: center;
    -unity-font-style: normal;
    border-left-color: rgb(202, 202, 202);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-color: rgb(255, 255, 255);
}
